<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444498294045-k9tfom9scnr80s4q5887pivfv9bh488a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444498294045-k9tfom9scnr80s4q5887pivfv9bh488a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>444498294045-hak9jtf3u6kflrqstq21str6tijf9d2k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNLof1uT9ThUk-xZtD3xJ4Unz913jjJKU</string>
	<key>GCM_SENDER_ID</key>
	<string>444498294045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kodiary.demo.app</string>
	<key>PROJECT_ID</key>
	<string>kodiary-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kodiary-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444498294045:ios:a918a68de1ba5c0e9b5df4</string>
</dict>
</plist>